

main {
  background-color: white;
  flex-grow: 1;
  display: flex;

}

section {
  flex-grow: 1;
}
section p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-grow: 1;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  font-weight: bold;

}
.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  background: white;
  width: calc(100%/3 - 20px);
 margin: 10px;
  border: 1px solid gray;
  border-radius: 12px 12px 12px 12px;
  padding: 5px 5px;
}
.card{
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  flex-grow: 1;
}
.card-image {
    border-color: #978d8d;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 7px;
    height: 70px;
    width: 70px;
    overflow: hidden;
    margin-bottom: 30px;
    background-size: cover;
   
}
.im-1{
  background-image: url('gory.jpg');
}

h4 {
  text-align: center;
}
button {
  background-color: rgb(80, 72, 88);
  color: white;
  padding: 7px 12px;
  border-radius: 15px 15px 15px 15px;
  align-items: flex-end;
  
}

.card:hover {
  background-color: #af9e9e;
}

.holder {
  display: flex;
  background-color: #fff;
  height: 200px;
  width: 350px;
  border: 4px;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 33px 33px 0 0;
}

.item:first-child {
  background-color: rgb(224, 103, 103);
  text-align: center;
  border-radius: 30px 0 0 0;
  width: 50%;

}
.item:nth-child(2) {
  background-color: rgb(116, 106, 211);
  text-align: center;
  order: 2;
  flex-grow: 1;

}
.item:nth-child(3) {
  background-color: rgb(145, 73, 167);
  text-align: center;
flex-grow: 1;
order: 1;
}

.item:nth-child(4) {
  background-color: rgb(25, 82, 25);
  text-align: center;
  flex-grow: 1;
  order: 3;
}
.item:last-child {
  background-color: rgb(216, 189, 69);
  text-align: center;
  width: 50%;
  border-radius: 0 30px 0 0;

}


main aside:first-of-type  {
  order: -1;
  background-color: rgb(156, 113, 137);
}
aside {
  flex-basis: 210px;
  flex-shrink: 0;
  background-color: rgb(144, 145, 248);
}
aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

footer {
  background-color: rgb(157, 233, 157);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}

